@import "src/assets/styles/variables";

.table {
  width: 80%;
  margin: 0 auto;
  border: none;
  border-collapse:collapse
}

tbody > tr:nth-child(odd) {
  background: $gray;
}

th {
  text-align: left;
}

th, td {
  padding: 16px 10px;
  min-height: 100px;
}
